/* Declaración para la fuente Nunito en formato TTF */
@font-face {
  font-family: 'Nunito';
  src: url('../../fonts/Nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Declaración para la fuente Syne en formato TTF */
@font-face {
  font-family: 'Syne';
  src: url('../../fonts/Syne/Syne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
