@import '../base/fonts.scss';

// Typography

$typo-nunito: 'Nunito';
$typo-syne: 'Syne';

// Shadow
$shadow-base-default: 4px 0px 8px 0px rgba(0, 0, 0, 0.2);
$shadow-base-050: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
