<div class="card">
  <div class="card__header">
    <img class="card__image" [src]="data.imageSrc" alt="image" />
    <app-tag class="card__tag" [label]="data.category"></app-tag>
  </div>

  <div class="card__body">
    <div class="card__details">
      <span class="card__location truncate">{{ data.location }}</span>
      <span class="card__days truncate">{{ data.days }} días</span>
    </div>

    <h3 class="card__title">{{ data.title }}</h3>
  </div>

  <div class="card__footer">
    <div class="card__price">
      <div class="card__price-description">
        <span class="card__note">{{ data.priceNote }}</span>
        <div class="card__amount">
          <span class="card__value truncate">
            {{ data.priceAmount | number: '1.0-2' }}
          </span>
          <span class="card__currency">{{ data.priceCurrency }}</span>
        </div>
      </div>

      <app-dropdown>
        <ng-container appDropdownTrigger>
          <div class="card__dropdown">
            <span class="card__text truncate">Ver desglose</span>
            <app-icon
              name="chevron-down"
              [size]="16"
              color="color-primary-800"
              class="card__icon"
            >
            </app-icon>
          </div>
        </ng-container>

        <ng-container appDropdownContent>
          <div class="card__drop-content">
            <div class="card__drop-main">
              <div class="card__drop-info">
                <h3 class="card__drop-location">{{ data.location }}</h3>
                <span class="card__drop-days">{{ data.days }} días</span>
              </div>

              <div class="card__drop-items">
                <div
                  class="card__drop-item"
                  *ngFor="let item of data.pricing.rows"
                >
                  <span class="card__drop-item-label truncate">
                    {{ item.label }}
                  </span>
                  <span class="card__drop-item-value truncate">
                    {{ format(item.amount) }}
                  </span>
                </div>
              </div>
            </div>

            <div class="card__drop-footer">
              <span class="card__drop-label truncate">Precio final</span>
              <span class="card__drop-value truncate">
                {{ format(data.pricing.total) }}
              </span>
            </div>
          </div>
        </ng-container>
      </app-dropdown>
    </div>

    <div class="card__action">
      <app-button
        size="sm"
        type="full"
        color="tertiary"
        class="card__button"
        [label]="data.actionLabel"
      >
      </app-button>
    </div>
  </div>
</div>
