<div class="main">
  <div class="main__container">
    <h1 class="main__title">Vive tus propias aventuras</h1>
    <p class="main__subtitle">
      Para los que les gusta explorar y conocer mundo sin complejos
    </p>

    <div class="main__content">
      <div class="main__filter">
        <app-button
          iconColor="color-basic-800"
          icon="filter"
          type="filter"
          label="Ver filtros"
          class="main__toggle"
          (click)="toggleMobileFilter()"
        >
        </app-button>

        <app-filter
          class="main__filters"
          [title]="'Filtrar mi búsqueda'"
          [isOpen]="isMobileFilterOpen"
          (isOpenChange)="syncToggles($event)"
        >
          <app-accordion [title]="'Destino'" [icon]="'world'" [opened]="true">
            <app-checkbox
              class="main__checkbox"
              [label]="'Bangkok'"
              [info]="'New'"
              (checkedChange)="onToggleSet('destinations', 'Bangkok', $event)"
            ></app-checkbox>
            <app-checkbox
              class="main__checkbox"
              [label]="'Barcelona'"
              (checkedChange)="onToggleSet('destinations', 'Barcelona', $event)"
            ></app-checkbox>

            <app-checkbox
              class="main__checkbox"
              [label]="'Chiang Mai'"
              (checkedChange)="
                onToggleSet('destinations', 'Chiang Mai', $event)
              "
            ></app-checkbox>

            <app-checkbox
              class="main__checkbox"
              [label]="'Paris'"
              (checkedChange)="onToggleSet('destinations', 'París', $event)"
            ></app-checkbox>

            <app-checkbox
              class="main__checkbox"
              [label]="'Viena'"
              [info]="'New'"
              (checkedChange)="onToggleSet('destinations', 'Viena', $event)"
            ></app-checkbox>

            <app-checkbox
              class="main__checkbox"
              [label]="'Roma'"
              [disabled]="false"
              (checkedChange)="onToggleSet('destinations', 'Roma', $event)"
            ></app-checkbox>

            <app-checkbox
              class="main__checkbox"
              [label]="'Amsterdam'"
              [disabled]="false"
              (checkedChange)="onToggleSet('destinations', 'Amsterdam', $event)"
            ></app-checkbox>
          </app-accordion>

          <app-accordion
            [title]="'Aventura'"
            [icon]="'mountains'"
            [opened]="true"
          >
            <app-checkbox
              class="main__checkbox"
              [label]="'Cultura'"
              (checkedChange)="onToggleSet('activities', 'Cultura', $event)"
            ></app-checkbox>

            <app-checkbox
              class="main__checkbox"
              [label]="'Paseos'"
              (checkedChange)="onToggleSet('activities', 'Paseos', $event)"
            ></app-checkbox>

            <app-checkbox
              class="main__checkbox"
              [label]="'Arquitectura'"
              [info]="'new'"
              (checkedChange)="
                onToggleSet('activities', 'Arquitectura', $event)
              "
            ></app-checkbox>

            <app-checkbox
              class="main__checkbox"
              [label]="'Historia'"
              (checkedChange)="onToggleSet('activities', 'Historia', $event)"
            ></app-checkbox>

            <p class="main__show-more">Ver 21 más</p>
          </app-accordion>

          <app-accordion
            [title]="'Alojamiento'"
            [icon]="'home'"
            [opened]="false"
          >
            <app-checkbox
              class="main__checkbox"
              [label]="'4 dias'"
              (checkedChange)="onToggleSet('accommodation', '4', $event)"
            ></app-checkbox>

            <app-checkbox
              class="main__checkbox"
              [label]="'5 dias'"
              (checkedChange)="onToggleSet('accommodation', '5', $event)"
            ></app-checkbox>

            <app-checkbox
              class="main__checkbox"
              [label]="'7 dias'"
              [info]="'new'"
              (checkedChange)="onToggleSet('accommodation', '7', $event)"
            ></app-checkbox>
          </app-accordion>

          <app-accordion [title]="'Precio'" [icon]="'price'" [opened]="true">
            <app-input
              class="main__input"
              icon="price"
              [iconSize]="24"
              placeholder="Minimo"
              iconColor="color-basic-800"
              (valueChange)="
                onPriceChange($event ? +$event : undefined, priceMax)
              "
            ></app-input>

            <app-input
              class="main__input"
              icon="price"
              [iconSize]="24"
              placeholder="Maximo"
              iconColor="color-basic-800"
              (valueChange)="
                onPriceChange(priceMin, $event ? +$event : undefined)
              "
            ></app-input>
          </app-accordion>
        </app-filter>
      </div>
      <div class="main__collection">
        <ng-container *ngIf="sections$ | async as sections; else loading">
          <ng-container *ngIf="sections.length === 0">
            <div class="main__empty">
              <h3 class="main__e-title">No se encontraron resultados</h3>
              <p class="main__e-subtitle">
                Intenta buscar con diferentes términos de busqueda
              </p>
            </div>
          </ng-container>

          <ng-container *ngIf="sections.length > 0">
            <div class="main__section" *ngFor="let section of sections">
              <p class="main__title">{{ section.title }}</p>
              <div class="main__cards">
                <app-card
                  *ngFor="let card of section.cards; trackBy: trackCard"
                  [data]="card"
                >
                </app-card>
              </div>
            </div>
          </ng-container>
        </ng-container>

        <ng-template #loading>
          <div class="main__section">
            <p class="main__title skeleton" style="width: 32%"></p>

            <div class="main__cards">
              <div class="main__card skeleton"></div>
              <div class="main__card skeleton"></div>
              <div class="main__card skeleton"></div>
            </div>
          </div>

          <div class="main__section">
            <p class="main__title skeleton" style="width: 69%"></p>

            <div class="main__cards">
              <div class="main__card skeleton"></div>
              <div class="main__card skeleton"></div>
              <div class="main__card skeleton"></div>
              <div class="main__card skeleton"></div>
              <div class="main__card skeleton"></div>
              <div class="main__card skeleton"></div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
