@use 'base/colors' as color;
@use 'utils/utilities' as utilities;


.icon-container {
  @include utilities.flexbox-param(flex, center, center);

  svg {
    width: 100%;
    height: 100%;
    color: inherit;

    path {
      stroke: currentColor;
      fill: currentColor;
    }
  }
}
